# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Environment variables
backend/.env

# Node.js
frontend/node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log